@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 100%;
  }

  .detail-reviews-score .reviews-inner {
    padding-left: 15px;
    padding-top: 0;
  }

  .detail-reviews-score .detail-score-sticky {
    margin-bottom: 30px;
  }

  .section-heading {
    font-size: 28px;
    text-shadow: 0 0 20px #fff;
  }

  .datepicker--cell-day {
    height: 35px;
    font-size: 14px;
  }

  .addr-map-col {
    flex: 0 0 100%;
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  .addr-map-time {
    margin-top: 0;
    margin-left: 15px;
    background-position: 0 4px;
  }

  .addr-map-col:first-child {
    margin-bottom: 10px;
  }

  .addr-collectData,
  .addr-success {
    padding: 20px;
  }

  .reviews-show-item {
    margin-bottom: 20px;
    margin-right: 15px;
  }

  .detail-reviews-score {
    margin-left: -30px;
    margin-right: -30px;
  }

  .scores-col {
    flex: 0 0 380px;
    max-width: 380px;
  }

  .reviews-col {
    flex: 0 0 calc(100% - 380px);
    max-width: calc(100% - 380px);
  }

  .detail-score-sticky {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;

    display: flex;
    justify-content: center;
  }

  .reviews-leave-desc {
    padding-right: 15px;
  }

  .detail-tab-slider {
    width: 100%;
  }

  .detail-tab-slider-pg {
    opacity: 0;
  }

  .detail-side-actions {
    margin-top: 0;
  }
  
  .detail-list {
    margin-top: 0;
  }

  .col-catalog-product {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .header-fixed .header-group {
    padding-left: 40px;
  }

  .col-subscribe {
    padding-bottom: 30px;
  }

  .contact-form-input {
    width: 50%;
  }

  .detail-brands {
    margin-right: 0;
    margin-top: 15px;
  }

  .detail-slider {
    padding-right: 0;
  }

  .section-head-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .detail-icons {
    margin-top: 15px;
  }

  .row-detail {
    align-items: flex-start;
  }

  .contact-form {
    padding-right: 15px;
  }

  .points-foot,
  .points-head {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .stock-slide-col:nth-child(2) {
    padding-right: 15px;
  }

  .col-feature {
    padding-left: 15px;
    padding-right: 15px;
  }

  :root {
    --photo-size: 150px;
  }

  .buy-product-body {
    flex: 0 0 calc(100% - var(--photo-size));
    max-width: calc(100% - var(--photo-size));
  }

  .feature-item {
    padding-left: 0;
  }

  .form-props-check-name {
    font-size: 12px;
    padding: 10px 15px;
  }

  .form-props-list-inner {
    font-size: 14px;
    background-size: 13px;
  }

  .form-props-drop-select {
    font-size: 14px;
  }

  .customize-form-item {
    margin-right: 20px;
  }

  .form-props-current {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .feature-body {
    font-size: 14px;
  }

  .header-nav-link span {
    font-size: 14px;
  }

  .addr-map-link {
    font-size: 14px;
    padding-left: 15px;
6    padding-right: 15px;
  }
}

@media (max-width: 1200px) {
  /* .stock-slide-info {
    font-size: 16px;
  }

  .stock-slide-exp {
    font-size: 13px;
  }

  .stock-slide-col {
    padding: 20px;
  }

  .stock-slide-right::before {
    border-width: 0 0 20px 20px;
  } */

  .iden-logo-abs {
    right: 0;
  }

  .page-wrap > .container {
    background-image: none;
  }

  .about-content {
    font-size: 15px;
  }

  .reviews-inner {
    padding-left: 0;
  }

  .leave-review-block {
    padding-left: 0;
    padding-right: 0;
  }

  .detail-tab-slider {
    height: 200px;
  }

  .detail-tab-slide {
    background-size: contain
  }

  .detail-nav-link {
    padding: 15px;
    font-size: 16px;
  }

  .spec-left, .spec-right {
    font-size: 12px;
  }

  .detail-price-new {
    font-size: 26px;
  }

  .detail-sliders {
    flex-direction: column;
  }

  .detail-slider .swiper-slide {
    background-size: contain;
  }

  .detail-slider-thumbs {
    order: 2;
    height: 80px;
    margin-top: 30px;
  }

  .detail-slider-thumbs::before {
    display: none;
  }

  .detail-side-item .product-rate {
    margin-top: 0;
  }

  .detail-slider {
    order: 1;
    height: 350px;
  }

  .detail-slider-thumbs,
  .detail-slider {
    flex: unset;
    max-width: none;
    width: 100%;
  }

  .header-cart-title {
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 5px;
  }

  .header-cart-total {
    font-size: 12px;
  }

  .header-fixed .fixed-contacts {
    display: none;
  }

  .section-head-group {
    flex: 0 0 calc(100% - 150px);
    max-width: calc(100% - 150px);
  }

  .detail-brands {
    flex: 0 0 150px;
    max-width: 150px;
    margin-top: 0;
  }

  .header-fixed .header-group {
    padding-right: 15px;
  }

  .header-fixed .header-main-inner {
    justify-content: space-between;
  }

  .header-info-body {
    padding-left: 5px;
  }

  .header-info-link {
    font-size: 12px;
  }

  .header-nav-link {
    padding-left: 15px;
  }

  .header-info-desc {
    font-size: 11px;
    margin-top: 3px;
  }

  .header-info-icon {
    padding-top: 1px;
  }

  .header-nav-link span {
    font-size: 12px;
  }

  .contact-form-input,
  .contact-form-button {
    width: 100%;
  }

  .contact-item {
    flex: unset;
    max-width: 100%;
  }

  .col-subscribe {
    padding-left: 15px !important;
    background-image: none;
  }

  .contact-form-input {
    margin-bottom: 15px;
  }

  .contact-form-button {
    justify-content: center;
  }

  .col-contact {
    flex-direction: column;
    padding-left: 15px !important;
  }

  .col-feature {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .buy-product-item {
    align-items: center;
  }

  .buy-product-foot {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .buy-product-name {
    font-size: 16px;
  }

  .buy-product-body {
    padding-left: 15px;
  }

  .buy-product-info {
    font-size: 14px;
  }

  :root {
    --photo-size: 130px;
  }

  .buy-product-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-item {
    position: relative;
    margin-bottom: 30px;
  }

  .buy-product-item {
    height: 100%;
  }

  .feature-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding-left: 90px;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row-justify {
    justify-content: center;
  }

  .form-props-list-inner {
    background-position: calc(100% - 10px) 56%;
  }

  .form-props-list[data-divider]::before {
    font-size: 12px;
  }
  
  .form-props-select {
    margin-left: -10px;
    margin-right: -10px;
  }

  .form-props-list {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-props-list-inner {
    font-size: 12px;
    padding: 14px 10px;
    background-size: 8px;
  }

  .form-props-drop {
    right: 10px;
    left: 10px;
  }

  .form-props-drop-select {
    font-size: 12px;
  }

  .main-slide-title {
    font-size: 28px;
  }

  .main-slide-info {
    font-size: 16px;
  }

  .catalog-pagination-item {
    flex: 0 0 40px;
    max-width: 40px;
    height: 40px;
  }
  
  .catalog-controls {
    margin-top: 30px;
  }

  .stock-slide-row {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .contacts-item {
    margin-bottom: 30px;
  }

  .filter-close {
    display: block;
  }

  .responsive-filter-btn {
    display: block;
  }

  .r-nav {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 17px;
    padding-bottom: 17px;

    order: 0
  }

  .header-nav-item {
    order: 2
  }

  .r-nav-item {
    /* flex: 0 0 50%;
    max-width: 50%; */
    margin-bottom: 20px;
  }

  .r-nav-item:last-child {
    margin-bottom: 0;
  }

  .r-nav-item .header-info-link {
    font-size: 14px;
    font-weight: var(--book);
    color: #fff;
  }

  .r-nav-item .header-info-desc {
    font-size: 11px;
    color: #fff;
    white-space: nowrap;
    margin-top: 6px;
  }

  .r-nav-item .header-info-icon {
    flex: 0 0 24px;
    max-width: 24px;
    justify-content: center;
  }

  .r-nav-item .header-info-body {
    align-items: flex-start;
    justify-content: flex-start;
    /* padding-left: 13px; */
    padding-left: 9px;
  }

  .r-nav-item .link-light::before, 
  .r-nav-item .about-link::before, 
  .r-nav-item .header-info-link::before {
    background-image: url(../images/dots-light.png);
  }

  .row-stock {
    font-size: 14px;
  }

  .stock-img {
    margin-bottom: 15px;
  }

  .detail-tab-content {
    font-size: 14px;
    padding: 30px;
  }

  .leave-review-agree span {
    padding-left: 15px;
  }

  .review-item-user {
    flex: 0 0 80px;
    max-width: 80px;
  }

  .review-item-body {
    flex: 0 0 calc(100% - 80px);
    max-width: calc(100% - 80px);
  }

  .reviews-inner {
    font-size: 14px;
  }

  .leave-review-button {
    font-size: 14px;
  }

  .detail-description {
    font-size: 14px;
  }

  .detail-description ul > li {
    background-position: 0px 4px;
    background-size: 7px;
    padding-left: 15px;
  }

  .section-heading {
    font-size: 22px;
  }

  .product-name {
    font-size: 14px;
    height: 47px;
  }

  .addr-success-image {
    max-width: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .contacts-addr-item {
    padding: 15px;
  }

  .addr-time {
    width: 290px;
  }

  .addr-time-item {
    padding: 7px 0;
    font-size: 14px;
  }

  .app-steps-list {
    margin-bottom: 30px;
  }

  .addr-map-bar {
    font-size: 12px;
  }

  .contacts-addr-name {
    font-size: 14px;
  }

  .app-step {
    font-size: 16px;
    background-size: 10px;
    padding-left: 20px;

    align-items: flex-start;
  }

  .datepicker--cell-day {
    height: 29px;
  }

  .datepicker-inline .custom-picker {
    width: 266px;
  }

  .app-step-count {
    font-size: 20px;
    flex: 0 0 20px;
    max-width: 20px;
    margin-right: 5px;
  }

  .app-step-name {
    padding-top: 2px;
    position: static;
  }

  .addr-map {
    height: 350px;
  }

  .zapis-map {
    height: 450px;
  }

  .review-controls {
    margin-left: 0;
    flex-wrap: wrap;

    justify-content: center;
  }

  .review-controls .catalog-pagination {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;

    margin-bottom: 30px;
  }

  .header-fixed .header-main-inner:not(.header-main-responsive) {
    display: none;
  }

  .iden-logo-abs {
    position: static;
    margin-top: 25px;
  }

  .modal-props-list {
    margin-top: 30px;
  }

  .modal-col {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 40px;
  }

  .responsive-filter {
    display: block;
    background-image: none;
  }

  .scores-col {
    flex: 0 0 280px;
    max-width: 280px;
  }

  .reviews-col {
    flex: 0 0 calc(100% - 280px);
    max-width: calc(100% - 280px);
  }

  .reviews-show {
    display: flex;
    flex-direction: column;
  }

  .reviews-show-item {
    margin-bottom: 10px;
  }

  .detail-nav-link {
    font-size: 14px;
  }

  .detail-nav-item {
    margin-right: 10px;
  }

  .detail-price {
    /* flex-direction: column;
    align-items: flex-start;
    line-height: 1.2; */
    margin-top: 20px;
  }

  .detail-price-old {
    margin-left: 15px;
    color: #888;
  }

  .detail-side-item .product-rate {
    flex-direction: column;
    align-items: flex-start;
  }

  .detail-slider-thumbs {
    height: auto;
  }

  .detail-side-item {
    flex: unset;
    max-width: none;
  }

  .detail-side {
    flex-direction: column;
    align-items: unset;
  }

  .detail-list {
    display: flex;
  }

  .detail-list-item {
    margin-top: 30px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .detail-slider-thumbs .swiper-slide {
    padding-bottom: 15%;
    background-size: auto 70%;
  }

  .detail-side-item .product-rate-inner {
    flex: unset;
    margin-bottom: 5px;
  }

  .detail-price-new {
    font-size: 30px;
  }

  .detail-price-old::before {
    top: 45%;
  }

  .catalog-pagination {
    margin-left: -30px;
  }

  .form-props-check-name {
    font-size: 12px;
  }

  .product-hover {
    padding-left: 15px;
    padding-right: 15px;
  }

  .detail-price-help {
    font-size: 12px;
    margin-top: 10px;
  }

  .catalog-wrap {
    margin-top: 5px;
    padding-top: 20px;
  }

  .catalog-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .catalog-filter {
    position: fixed;
    top: 64px;
    right: -280px;
    width: 280px;
    bottom: 0;

    overflow-y: auto;

    transition: all .2s ease;

    z-index: 7;
  }

  .catalog-filter-close {
    display: block;
  }

  .state-filter .catalog-filter {
    right: 0;
  }

  .catalog-slider-title {
    font-size: 22px !important;
  }

  .catalog-slider-desc {
    font-size: 14px;
  }

  .section-head {
    flex-direction: column;
  }

  .section-select {
    padding-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .page-wrap > .container::before {
    border-width: 0 30px 30px 0;
  }

  .page-wrap > .container {
    background-position: calc(100% - 35px) 0;
  }

  .header {
    display: none;
  }

  .header-main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 7;
  }

  .header-main-responsive {
    display: flex;
    height: 64px;
    
    margin-left: -30px;
    margin-right: -30px;
  }

  .header-nav {
    position: fixed;
    top: 64px;
    bottom: 0;
    right: -280px;
    z-index: 4;

    width: 280px;

    background-color: #4b4b4b;

    display: flex;
    flex-direction: column;

    padding-top: 0;

    transition: all .2s ease;
  }

  .header-nav-drop .header-nav-link {
    background-image: none;
    background-position: calc(100% - 20px) 50%;
  }

  .header-nav-link {
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
  }

  .header-nav-link::before {
    position: absolute;
    content: '';
    top: 40%;
    right: 25px;

    width: 10px;
    height: 10px;
    
    border-width: 1px 1px 0 0;
    border-color: #b0b0b0;
    border-style: solid;

    transform: rotate(45deg);

    transition: all .2s ease;
  }

  .header-nav-link:hover::before {
    border-color: #fff;
  }

  .state-nav .header-nav {
    right: 0;
  }

  body {
    padding-top: 65px;
  }

  .fixed-logo,
  .fixed-contacts,
  .header-group {
    display: none;
  }

  .col-contact,
  .col-subscribe {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .col-about-left {
    display: none;
  }
  
  .row-about {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-about-center,
  .col-about-right {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .form-props-check-item {
    flex: none;
    max-width: unset;
  }

  .customize-form-footer {
    position: static;
    margin-top: 30px;
  }

  .form-props {
    margin-top: 30px;
  }

  .about-points {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .row-stock {
    font-size: 14px;
  }

  .review-list {
    margin-top: 40px;
  }

  .detail-reviews-score .reviews-inner {
    padding-left: 0;
  }

  .col-about-center, .col-about-right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row-about {
    padding-top: 0;
  }

  .col-about-right {
    padding-left: 0;
  }

  .stock-img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .namelist-flex .modal-search-name {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer-follow-social {
    margin-right: 5px;
  }

  .footer-follow-social img {
    max-width: 70%;
  }

  .iden-logo-abs {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .page-wrap > .container {
    background-size: 90px;
  }

  .leave-review-block {
    padding-top: 50px;
  }

  .leave-review-title {
    margin-bottom: 20px;
  }

  .reviews-leave {
    justify-content: space-between;
  }

  .scores-col {
    order: 1
  }

  .reviews-col {
    order: 2
  }

  .review-item-user {
    flex: 0 0 50px;
    max-width: 50px;
  }

  .review-item-body {
    flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
  }

  .review-user-letter {
    font-size: 45px;
    line-height: 100%;
  }

  .scores-col,
  .reviews-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .detail-score-sticky {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .detail-reviews-score {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;

    flex-wrap: wrap;
    font-size: 14px;
  }

  .detail-tab-slider {
    height: 250px;
  }

  .detail-tab-slider-pg {
    opacity: 1;
  }

  .detail-nav-item:first-child {
    margin-left: 0;
  }

  .detail-spec-list {
    margin-top: 0;
  }

  .detail-tab-content {
    padding: 30px 15px;
  }

  .detail-tabs-inner {
    margin-right: -15px;
    margin-left: -15px;
  }

  .detail-addtocart {
    margin-top: 30px;

    flex: 0 0 100%;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-pagination {
    margin-left: 0; 
  }

  .detail-tocart,
  .detail-count {
    margin-top: 0;
    flex: 0 0 200px;
    max-width: 200px;
  }

  .catalog-controls {
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
  }

  .catalog-pagination-item {
    font-size: 16px;
  }

  .catalog-pagination {
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;

    justify-content: center;
  }

  .button-center {
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-nav-item {
    margin-left: 0;
    margin-right: 0;
  }

  .modal-dialog-custom {
    max-width: none;
  }

  .product-rate {
    display: none;
  }

  .col-catalog-product {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .product-hover {
    position: static;
    top: none;
    bottom: 0;
    opacity: 1;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;

    box-shadow: none !important;
  }

  .product-item {
    height: 100%;
    padding-bottom: 30px;
    box-shadow: none !important;
  }

  .product-item:hover {
    border-color: #dedfe0
  }

  .product-list {
    margin-left: -15px;
    margin-right: -15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  body {
    padding-top: 64px;
  }

  .header-main-responsive {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-brands-slider {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .brands-slider .swiper-slide {
    text-align: center;
  }

  .footer-follow-list {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-content {
    font-size: 14px;
  }

  .about > .container {
    padding-bottom: 0;
  }

  .row-contact {
    margin-left: -15px;
    margin-right: -15px;
  }

  .contact-icon {
    flex: 0 0 60px;
    max-width: 60px;
    height: 60px;
  }

  .contact-form-input {
    padding: 15px;
    font-size: 14px;
  }

  .contact-icon-src {
    max-width: 24px;
  }

  .slider-section-podbor {
    padding: 30px 15px;
  }

  .stock-slide-right::before {
    border-width: 0 0 30px 30px;
  }
  
  .stock-slide {
    height: auto;
    flex-direction: column;
  }

  .stock-slide-col {
    flex: unset;
    max-width: unset;

    width: 100%;

    /* height: 180px; */
  }

  .stock-slider br {
    display: none;
  }

  .row-custom {
    margin-left: -15px;
    margin-right: -15px;
  }

  .buy-product-body {
    padding-left: 30px;
  }

  .row-buy {
    padding-top: 90px;
  }

  .buy-product-head,
  .buy-product-foot {
    align-items: flex-start;
  }

  .row-brands {
    /* flex-direction: column; */
    margin-top: 20px;
  }

  .col-flex-link {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .brands-slider {
    height: none;
  }

  .brands-slider .swiper-slide {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-heading {
    font-size: 20px;
  }

  .col-brands-slider {
    padding-left: 0;
    margin-bottom: 20px;
  }

  :root {
    --photo-size: 150px;
  }

  .feature-body br {
    display: none;
  }

  .feature-body {
    padding-left: 65px;
    padding-right: 5px;
  }

  .feature-name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .feature-desc {
    font-size: 12px;
  }

  .feature-item > img {
    max-width: 50px;
  }

  .slider-section-podbor::before {
    display: none;
  }

  .slider-section-podbor {
    background-size: 90px;
    background-position: calc(100% - 15px) 0;
  }

  .form-props-check-item {
    flex: 0 0 calc(25% + 1px);
    max-width: calc(25% + 1px);
  }

  .catalog-slider-title {
    font-size: 18px !important;
  }

  .about > .container {
    padding-top: 60px;
  }

  .section-head-group .section-heading {
    margin-right: 0;
  }

  .section-head-group {
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
  }

  .detail-brands {
    flex: 0 0 100px;
    max-width: 100px;
  }

  .breadcrumbz-item {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .modal-search-inner {
    max-height: 300px;
  }

  .addr-form-label {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .addr-form {
    margin-top: 20px;
  }

  .addr-form-input {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 95px;
  }

  .addr-form-label-abs {
    font-size: 14px;
    top: 11px;
    left: 25px;
  }
}

@media (max-width: 480px) {
  :root {
    --modal-padding: 15px;
    --modal-margin: -15px;
  }

  .catalog-filter {
    right: -100%;
    width: 100%;
  }

  .r-podbor {
    display: none;
  }

  .r-catalog {
    display: block;
  }

  .filter-link {
    color: #4b4b4b;
    font-size: 12px;
  }

  .car-type-controls {
    margin-bottom: 15px;
  }

  .page-wrap > .container::before {
    display: none;
  }

  .catalog-sort.filter-sort {
    display: none;
  }

  .catalog-slider-alt {
    display: block;
  }
  
  .r-catalog-total {
    text-align: center;
    font-weight: var(--book);
    margin-bottom: 15px;
  }

  .product-tocart {
    background-color: transparent;
    color: var(--red-light);
    padding-left: 30px;

    background-image: url(../images/cart-red.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
  }

  .product-tocart:hover {
    background-color: #fff;
    color: var(--red-light)
  }

  .catalog-pagination {
    order: 2;
    margin-bottom: 0;
  }

  .catalog-controls .button-default {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;

    order: 1
  }

  .product-tocart img {
    display: none;
  }

  .r-sort {
    display: flex !important;

    flex-direction: column;
    align-items: flex-start !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
  }

  .r-sort .filter-sort-title {
    margin-bottom: 5px;
  }

  .r-sort .filter-select {
    width: 100% !important;
  }

  .catalog-slider-slide {
    background-image: none !important;
  }

  .catalog-slider {
    height: auto;
  }

  .catalog-slider-title,
  .catalog-slider-desc {
    display: none;
  }

  .col-catalog-product {
    margin-top: -1px;
  }

  .catalog-wrap::before {
    display: none;
  }

  .customize-form-footer {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-form-agree {
    text-align: center;
  }

  .customize-submit {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    background-image: none;
    margin-bottom: 15px;
  }

  .contact-form {
    padding-top: 30px;
    text-align: center;
  }

  .header-nav {
    right: -100%;
    width: 100%;
  }

  .main-slide-1 {
    background-image: url(../images/stocks/large/1.png) !important;
  }

  .main-slide-2 {
    background-image: url(../images/stocks/large/2.png) !important;
  }

  .main-slide-3 {
    background-image: url(../images/stocks/large/3.png) !important;
  }

  .main-slide-4 {
    background-image: url(../images/stocks/large/4.png) !important;
  }

  .main-slide {
    background-size: contain;
  }

  .main-slide-content {
    display: none;
  }

  .main-slide-btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .form-props-check-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .buy-product-item:hover {
    border-color: #dedfe0;
    box-shadow: none;
  }

  .row-buy-product {
    margin-left: -15px;
    margin-right: -15px;
  }

  .buy-product-name img {
    display: none;
  }

  .buy-product-info {
    font-size: 12px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 28px;
  }

  .buy-product-item {
    padding: 10px;
  }

  .buy-product-price {
    font-size: 14px;
  }

  .buy-product-price span {
    font-size: 16px;
  }

  .buy-product-name {
    font-size: 14px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 33px;
  }

  .stock-img {
    margin-bottom: 0;
  }

  .review-content-title {
    margin-bottom: 5px;
  }

  .leave-review-rate-title {
    font-size: 14px;
  }

  .history {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .history-slider {
    padding-bottom: 0;
  }

  .leave-review-row,
  .leave-review-rate {
    margin-bottom: 15px;
  }

  .review-content-item {
    margin-bottom: 15px;
  }

  .addr-map {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0 !important;
  }

  .row-contacts {
    margin-top: 0
  }

  .contacts-req {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .zapis-map {
    height: 400px;
  }

  .addr-map-bar {
    left: 0;
    bottom: 0;
    right: 0;

    padding: 15px 10px;

    border-radius: 0;
  }

  .stock-nav-item {
    width: 40px;
    height: 40px;
  }

  .stock-nav {
    top: calc(50% - 20px)
  }

  .stock-slide-row {
    text-align: center;
  }

  .stock-slide-row:last-child {
    margin-bottom: 0;
  }

  .footer-list-link {
    font-size: 13px;
  }

  .contact-icon {
    flex: 0 0 50px;
    max-width: 50px;
    height: 50px;
  }

  .contact-icon-src {
    max-width: 20px;
  }

  .stock-slide-col:nth-child(2) {
    padding: 30px 15px;
    font-size: 14px;
  }

  .row-stock {
    margin-top: 30px;
  }

  .stock-stocks > .container {
    padding-bottom: 30px;
  }

  .catalog-sort .filter-sort-title {
    margin-right: 15px;
    font-size: 12px;
  }

  .catalog-sort .filter-select {
    font-size: 12px;
    width: 170px;
  }

  .modal-search-input {
    padding: 11px 15px 8px;
    font-size: 14px;
  }

  .footer > .container {
    background-size: 150px;
  }

  .catalog-pagination-item {
    flex: 0 0 35px;
    max-width: 35px;
    height: 35px;
  }

  .catalog-nav-item {
    margin-left: 0;
    margin-right: 0;
  }

  .modal-search-inner {
    max-height: 150px;
  }

  .modal-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .leave-review-agree {
    font-size: 12px;
  }

  .leave-review-leave-button {
    width: 100%;
    justify-content: center;
  }

  .leave-review-submit {
    margin-top: 0;
  }

  .history-slider-wrap .stock-prev {
    left: 15px;
  }

  .history-slider-wrap .stock-next {
    right: 15px;
  }

  .review-list {
    margin-top: 25px;
  }

  .reviews-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .review-item {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .history-slider-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }

  .leave-review-agree span {
    padding-left: 15px;
  }

  .leave-review-title {
    font-size: 18px;
    font-weight: normal;
  }

  .leave-review-form-helper {
    font-size: 12px;
  }

  .btns-middle {
    flex-direction: column;
  }

  .btns-middle .button-default:not(:last-child) {
    margin-right: 0;
  }

  .btns-middle .button-default {
    justify-content: center;
    margin-bottom: 15px;
  }

  .detail-tab-slider-pg {
    opacity: 0;
  }

  .leave-review-input {
    padding: 10px 15px;
    font-size: 12px;
  }

  .reviews-leave {
    flex-wrap: wrap;
  }

  .detail-description h3 {
    font-size: 16px;
    font-weight: normal;
  }

  .reviews-leave-desc,
  .reviews-leave-review {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .reviews-leave-review {
    margin-top: 15px;
  }

  .review-item-user {
    display: none;
  }

  .review-item-body {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .detail-nav-tabs {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  /* .detail-nav-item {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: flex-start;
  } */

  .section-head-group {
    flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
  }

  .detail-tab-content {
    padding: 15px;
    font-size: 14px;
  }

  .detail-brands {
    flex: 0 0 70px;
    max-width: 70px;
  }

  .detail-addtocart {
    flex-wrap: wrap;
  }

  .detail-count-item {
    height: 40px;
  }

  .detail-tocart {
    margin-top: 15px;
  }

  .detail-tocart, .detail-count {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .modal-form-check {
    margin-right: 10px;
  }

  .modal-form {
    margin-top: 25px;
  }

  .modal-form-agree-text {
    font-size: 12px;
  }

  .modal-heading {
    font-size: 16px;
    background-size: 25px;
    line-height: 25px;
    padding-left: 35px;
    background-position: 0 0;
  }

  .modal-heading-clear {
    padding-left: 0;
  }

  .modal-select-title {
    font-size: 16px;
  }

  .modal-col {
    font-size: 14px;
  }

  .modal-form-input {
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 14px;
  }

  .product-tocart img {
    margin-right: 9px;
    max-width: 22px;
  }

  .contact-form-desc,
  .contact-form-agree {
    font-size: 12px;
  }

  .contact-form-input {
    font-size: 12px;
  }

  .about-content {
    font-size: 13px;
  }

  .catalog-wrap::before {
    right: 0;
    left: 0;
  }

  .product-photo {
    margin-top: 10px;
    padding-bottom: 100px;
  }

  .page-wrap > .container {
    background-image: none;
  }

  .catalog-slider-slide {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-slider {
    background-color: #e0e0e0;
  }

  .responsive-filter {
    text-align: center;
  }

  /* .catalog-slider-slide::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.5);
  } */

  .catalog-slider {
    margin-left: -15px;
    margin-right: -15px;
  }

  .catalog-slider-title,
  .catalog-slider-desc {
    position: relative;
    text-shadow: 1px 1px 1px rgba(255,255,255, 1)
  }

  .product-item {
    padding: 10px;
  }

  .product-icons {
    top: 10px;
    right: 10px;
  }

  .product-tocart {
    font-size: 14px;
  }

  .product-deli {
    font-size: 10px;
  }

  .product-price-old {
    display: none;
  }

  .product-name {
    height: 44px;
    font-size: 13px;
    margin-top: 15px;
  }
  
  .catalog-slider-title {
    font-size: 16px;
  }

  .section-select-props {
    font-size: 14px;
  }

  .stock-slide-title {
    font-size: 18px;
  }

  .footer {
    font-size: 12px;
  }

  .footer-follow-list {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .footer-follow-social {
    margin-bottom: 15px;
    display: inline-block;
  }

  .contact-title {
    font-size: 16px;
  }

  .contact-desc {
    font-size: 14px;
  }

  .col-about-right {
    padding-left: 0;
  }

  .footer-payments {
    text-align: center;
  }

  .row-links {
    margin-bottom: 30px;
  }

  .footer > .container {
    padding-top: 30px;
    padding-bottom: 0;
  }



  .row-about {
    padding-top: 0;
  }

  .col-about-right,
  .col-about-center {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .buy-product-item {
    flex-direction: column;
    align-items: center;
  }

  .stock-slide-info {
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
    overflow: hidden;
  }

  .stock-slider {
    font-size: 14px;
  }

  .stock-slide-col .button-default {
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .stock-slider br {display: none;}

  .buy-product-photo {
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
  }

  .buy-product-body {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    flex: unset;
    max-width: 100%;
  }

  .row-service {
    padding-top: 80px;
  }

  .service-slider {
    margin-left: -15px;
    margin-right: -15px;
    height: 320px;
  }

  .service-slide {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .brands-slider .swiper-slide img {
    max-width: 80%;
  }

  .service-name {
    font-size: 14px;
  }

  .service-desc {
    font-size: 12px;
  }

  .service-arrow {
    position: absolute;
    bottom: 30px;
    left: 43%;
  }

  .buy-product-head, .buy-product-foot {
    align-items: center;
    display: flex;
    text-align: center;
  }

  .buy-product-goto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buy-product-goto .button-default {
    order: 0;
  }

  .buy-product-deli {
    order: 1;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: var(--light);
    font-size: 11px;
  }

  .buy-product-foot {
    flex: unset;
    max-width: 100%;
    margin-top: 15px;
  }

  .col-feature {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-props-list {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .customize-form-select-by .customize-form-item {
    font-size: 12px;
  }

  .section-heading {
    font-size: 18px;
  }

  .flex-link {
    font-size: 12px;
    background-position: 100% 2px;
    line-height: 15px;
    padding-right: 29px;
  }

  .link-brands {
    padding-right: 30px;
    background-size: 17px;
  }

  .customize-form-select {
    align-items: center;
  }

  .customize-form-item {
    font-size: 16px;
  }
  
  .form-props-check {
    flex-wrap: wrap;
    padding-left: 1px;
    margin-top: 15px;
  }

  .form-props-check-item {
    margin-top: -1px;
  }

  .form-props-check-item:nth-child(1) .form-props-check-name {
    border-top-left-radius: 5px !important;
  }

  .form-props-check-item:nth-child(2) .form-props-check-name {
    border-top-right-radius: 5px;
  }

  .form-props-check-item:nth-child(3) .form-props-check-name {
    border-bottom-left-radius: 5px;
  }

  .form-props-check-item:nth-child(4) .form-props-check-name {
    border-bottom-right-radius: 5px !important;
  }

  .form-props-check-name {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .form-props-check-item:last-child .form-props-check-name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-props-check-item:first-child .form-props-check-name {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .r-customize {
    display: block;
  }

  .form-props-list[data-divider]::before {
    display: none;
  }

  .slider-main {
    height: auto;
  }

  .main-slide {
    background-size: contain;
  }

  .button-default {
    font-size: 12px;

    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 30px;

    background-position: calc(100% - 10px) 53%;
    background-size: 14px;
  }

  .about-points-city {
    font-size: 14px;
  }

  .button-clear {
    padding-left: 15px;
    padding-right: 15px;
  }

  .addr-map-link {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .main-slide {
    position: relative;
    padding: 0 0 71% 0;
  }

  /* .main-slide::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(255,255,255, .6);
  } */
  
  .slider-main-pagination {
    font-size: 12px;
    bottom: 0 !important;
    right: 15px;

    width: 38px;
    height: 38px;
    line-height: 40px;
    background-color: transparent;
  }

  .slider-main-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.2;

    background-color: var(--dark);
  }

  .slider-main-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--red-light);
  }

  .main-slide-title {
    font-size: 20px;
    position: relative;
  }

  .main-slide-info {
    font-size: 12px;
    position: relative;
  }

  .customize-form {
    position: fixed;
    top: 64px;
    right: -100%;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    z-index: 10;
    padding: 30px 15px 15px;

    transition: all .3s ease;
  }

  .state-customize .customize-form {
    right: 0;
  }

  .section-features > .container {
    padding-top: 15px;
  }

  .customize-form-close {
    display: block
  }

  /* .customize-form-close span {
    color: var(--accent)
  } */

  .customize-form-hint {
    display: none;
  }

  .customize-form-item.active span,
  .customize-form-item:hover span {
    border: none
  }

  .customize-form-item {
    border: 1px solid #d4d4d4;
    margin-right: 0;

    flex: 0 0 50%;
    max-width: 50%;
    padding: 14px 15px;

    font-size: 12px !important;
    font-weight: var(--book);
    margin-top: -1px;
  }

  .customize-form-item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .customize-form-item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .customize-form-item.active {
    border-color: var(--accent);
    z-index: 1;
  }

  .customize-form-item:hover {
    color: #898682
  }

  .main-slide-footer {
    display: none;
    position: relative;
    height: 100%;
  }

  .slider-section-podbor {
    background-image: none;
  }
}