:root {
  --stolzl: "Stolzl-Webfont", sans-serif;
  --rubik:  "Rubik";
  --light:  200;
  --book:   500;

  --global-bg-color: #ededed;

  /* colors */
  --accent: #192d6b;
  --accent-hover: #2A3F80;
  --dark: #131313;
  --red-bright: #f41e17;
  --red-light: #fc352e;
}

:focus { outline: none !important }

body {
  font-size: 16px;
  font-family: var(--stolzl);
  font-weight: var(--light);
  line-height: 1.2;
  background-color: var(--global-bg-color);
  color: var(--dark)
}

img {
  max-width: 100%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.row-custom {
  margin-left: -30px;
  margin-right: -30px;
}

/* .row {
  margin-left: -30px;
}

[class*=col-]:first-child {
  padding-left: 30px;
} */

.header > .container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.header-info {
  line-height: 1;
  display: flex;
  align-items: flex-start;
}

.header-info-icon {
  display: flex;
  align-items: flex-start;

  flex: 0 0 14px;
  max-width: 14px;
}

.header-info-body {
  flex: 0 0 calc(100% - 14px);
  max-width: calc(100% - 14px);
  padding-left: 10px;
}

.header-info-link {
  font-weight: var(--book);

  color: var(--dark);

  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
}

.header-info-link:hover {
  text-decoration: none;
  color: var(--accent-hover);
}

.header-info-link::before {
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 0;
  content: '';

  height: 2px;
  background-image: url(../images/dots-blue.png);
  opacity: 0;
}

.header-info-link:hover::before {
  opacity: 1;
}

.header-info-link img {
  margin-right: 10px;
}

.header-info-link-tel {
  font-weight: normal;
}

.header-info-desc {
  font-size: 14px;
  color: #4b4b4b;
  margin-top: 8px;
}

.header-info-link-city .header-info-link-name {
  position: relative;
}

.header-info-link-city .header-info-link-name::before {

}

.header-info-link-callback::before {
  background-image: url(../images/dots-dark.png);
  opacity: 1;
}

.header-cart {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  line-height: 1;

  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-position: 11px 5px;
}

.header-cart:hover {
  text-decoration: none;
}

.header-cart-title {
  font-weight: normal;
  color: var(--dark);
  margin-bottom: 8px;
}

.header-cart-total {
  font-size: 14px;
  color: #4b4b4b
}

i.rub {
  font-style: normal;
  font-family: var(--rubik);
}

.header-main {
  margin-bottom: 30px;
}

.header-main-inner {
  margin-left: -30px;
  margin-right: -30px;
  background-color: var(--accent);
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav-link {
  display: flex;
  align-items: center;
  padding: 20px 19px 20px 29px;
  text-transform: uppercase;
  color: white;

  transition: all .15s ease;
}

.header-nav-link:hover {
  background-color: var(--accent-hover);
  color: white;
  text-decoration: none;
}

.header-nav-link span {
  font-weight: var(--book);
  margin-left: 11px;
  position: relative;
  top: 2px;
}

.header-nav-drop .header-nav-link {
  background-image: url(../images/nav-icons/nav-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 51%;
  padding-right: 30px;
}

.header-search {
  flex: 0 0 235px;
  max-width: 235px;
}

.header-search-input {
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  padding: 3px 0px 0px 50px;
  background-image: url(../images/nav-icons/nav-search.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;

  background-color: transparent;
  font-weight: var(--book);
}

.header-search-input::placeholder {
  color: white;
}

.slider-main {
  height: 500px;
  background-color: #f3f4f4;
}

.slider-section > .container {
  position: relative;
}

.slider-section > .container::before {
  position: absolute;
  content: '';
  height: 200px;
  bottom: 30px;
  left: 100px;
  right: 100px;
  box-shadow: 0 0 100px 0 rgba(0,0,0, .2);
}

.slider-section-podbor {
  padding: 35px 30px 30px;
  background-color: white;
  height: 100%;
  position: relative;

  background-image: url(../images/shina.jpg);
  background-position: calc(100% - 77px) 0;
  background-repeat: no-repeat;
}

.slider-section-podbor::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0;
  border-color: transparent var(--global-bg-color) transparent transparent;
}

.main-slide-title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}

.main-slide-title span {
  color: var(--red-light)
}

.main-slide-info {
  font-size: 18px;
  margin-top: 35px;
}

.main-slide {
  padding: 38px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.button-default {
  display: inline-flex;
  padding: 16px 73px 15px 30px;
  background-color: #dedfe0;
  color: var(--dark);
  font-weight: var(--light);
  border-radius: 30px;
  cursor: pointer;
  border: none;

  background-image: url(../images/button-arrow-bw.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) 52%;

  transition: background-color .2s ease, color .2s ease;
}

.button-default:hover {
  text-decoration: none;
  color: white;
  background-color: var(--accent-hover);
  background-image: url(../images/button-arrow.svg);
}

.button-default:active {
  background-color: var(--accent);
}

.button-red {
  background-color: var(--red-light);
  background-image: url(../images/button-arrow.svg);
  color: white
}

.button-red:hover {
  background-color: var(--red-bright);
}

.button-red:focus {
  background-color: var(--red-bright);
}

.swiper-container {
  transition: all .5s ease-in-out;
  opacity: 0;
}

/* .main-slide-4 {
  background-position: calc(100% - 70px) 100%;
} */

.slider-main-pagination {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: white;
  
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: auto;
  top: auto;

  color: inherit;

  z-index: 1;

  text-align: center;
  line-height: 52px;
}

.customize-form-select {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.customize-form-item {
  font-size: 20px;
  font-weight: normal;
  margin-right: 48px;
  color: #898682;
}

.customize-form-item.active,
.customize-form-item:hover {
  color: var(--accent);
  text-decoration: none;
}

.customize-form-item span {
  border-bottom: 2px solid transparent;
}

.customize-form-item.active span,
.customize-form-item:hover span {
  border-bottom: 2px solid var(--accent);
}

.customize-form-select-by .customize-form-item {
  font-size: 16px;
  font-weight: var(--book);
}

.customize-form-hint {
  margin-left: 6px;
  filter: grayscale(100%);
  opacity: 0.5;

  transition: all .3s ease;
}

.customize-form-item.active .customize-form-hint,
.customize-form-item:hover .customize-form-hint {
  opacity: 1;
  filter: grayscale(0%)
}

.form-props-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-left: -15px;
  margin-right: -15px;
}

.form-props-list {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;

  position: relative;
}

.form-props-list[data-divider]::before {
  position: absolute;
  content: attr(data-divider);
  top: 33%;
  right: -9px;
  width: 19px;
  height: 19px;
  text-align: center;
  color: #4b4b4b;
}

.form-props-list-inner {
  border: 1px solid #d4d4d4;
  color: #4b4b4b;
  border-radius: 5px;

  font-weight: 500;

  padding: 15px 20px 14px;

  background-image: url(../images/input-arrow-default.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) 56%;

  transition: all .2s ease;
}

.form-props-list-inner.active {
  background-image: url(../images/input-arrow-active.svg);
  border-color: var(--accent);
  color: var(--accent)
}

.form-props-list.active .form-props-list-inner {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-position-y: 130%;
}

.form-props-list:hover {
  border-color: #4b4b4b;
  cursor: pointer
}

.form-props-list:last-child {
  margin-right: 0;
}

.form-props-drop {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  left: 15px;
  right: 15px;

  overflow: hidden;

  border: 1px solid #d4d4d4;
  color: #4b4b4b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;

  z-index: 2;
}

.form-props-drop-select {
  padding: 10px 20px;
  font-weight: 500;
}

.form-props-drop-select:hover {
  background-color: #f4f4f4;
}

.form-props {
  margin-top: 80px;
}

.form-props-check {
  display: flex;
}

.form-props-check-item {
  flex: 0 0 calc(25% + 1px);
  max-width: calc(25% + 1px);
  padding: 0;
  margin: 0 0 0 -1px;
}

.form-props-check-type {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.form-props-check-name {
  border: 1px solid #d4d4d4;
  padding: 15px 20px 14px;
  position: relative;
  font-weight: var(--book);

  text-align: center;
}

.form-props-check-type:checked + .form-props-check-name {
  border-color: var(--accent);
  color: var(--accent);
  z-index: 1;
}

.form-props-check-name:hover {
  border-color: #4b4b4b;
  z-index: 1;
  cursor: pointer;
}

.form-props-check-item:first-child .form-props-check-name {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-props-check-item:last-child .form-props-check-name {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.customize-form-footer {
  /* margin-top: 99px; */
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.button-menu {
  padding: 14px 62px 15px 29px;
  background-color: transparent;
  border: 1px solid #d4d4d4;
  color: #4b4b4b;
  font-weight: var(--light);

  background-image: url(../images/btn-burger.svg);
}

.button-menu:hover {
  color: white;
  border-color: var(--red-light);
  background-color: var(--red-light);

  background-image: url(../images/btn-burger-hover.svg);
}

.section-features > .container {
  padding-top: 80px;
}

.section > .container {
  background-color: #fff;
}

.col-feature {
  flex: 0 0 23.5%;
  max-width: 23.5%;
}

.feature-item {
  padding-left: 26px;
  display: flex;
  align-items: center;
  height: 100%;
}

.feature-name {
  font-size: 20px;
  font-weight: var(--book);
  margin-bottom: 9px;
}

.feature-body {
  padding-left: 28px;
}

.row-justify {
  justify-content: space-between;
}

.row-buy {
  padding-top: 141px;
}

.section-heading {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 36px;
}

.section-head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-link {
  color: #4b4b4b;
  
  
  background-position: 100% 4px;
  background-repeat: no-repeat;
}

.flex-link:hover {
  text-decoration: none;
  color: var(--red-light);
}

.link-catalog {
  padding-right: 34px;
  background-image: url(../images/catalog-burger-link.svg);
}

.link-catalog:hover {
  background-image: url(../images/catalog-burger-link-hover.svg);
}

.link-brands {
  background-position: right 50%;
  background-image: url(../images/button-arrow-bw.svg);
  padding-right: 43px;
}

.link-brands:hover {
  background-image: url(../images/button-arrow-red.svg);
}

.row-buy-product {
  padding-top: 42px;
}

.buy-product-item {
  display: flex;
  border: 1px solid #dedfe0;
  margin-left: -1px;
  padding: 24px;

  position: relative;

  box-shadow: 0 0 0 0 rgba(0,0,0, 0);

  transition: all .2s ease;
}

.buy-product-item:hover {
  box-shadow: 0 0 50px 0 rgba(0,0,0, .1);
  border-color: transparent;
  z-index: 1;
}

.buy-product-photo {
  flex: 0 0 200px;
  max-width: 200px;
  height: 200px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buy-product-body {
  flex: 0 0 calc(100% - 200px);
  max-width: calc(100% - 200px);
  padding: 0 4px 4px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buy-product-name {
  font-size: 20px;
  font-weight: var(--book);
  margin-bottom: 13px;
}

.buy-product-name img {
  margin-left: 5px;
  margin-right: 0px;
}

.buy-product-foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.buy-product-deli {
  font-size: 12px;
  font-weight: var(--book);
  margin-bottom: 15px;
  text-align: center;
  color: var(--red-light)
}

.buy-product-price {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}

.buy-product-price span {
  font-size: 24px;
  margin-left: 4px;
}

.buy-product-price i {
  font-weight: 500;
}

.row-brands {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.col-brands-slider {
  flex: 0 0 calc(100% - 228px);
  max-width: calc(100% - 228px);

  padding-left: 15px;
}

.col-flex-link {
  padding-right: 15px;
}

.row-service {
  padding-top: 151px;
}

.service-slider {
  margin-top: 32px;
  padding-top: 40px;
}

.service-slide {
  background-color: #f2f2f2;
  position: relative;
  text-align: center;
  min-height: 286px;
  padding-top: 90px;
}

.service-image {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%)
}

.service-name {
  font-weight: var(--book);
  font-size: 20px;
  margin-bottom: 24px;
}

.service-arrow {
  display: inline-flex;
  justify-content: center;
  margin-top: 46px;

  position: relative;
}

.service-arrow img {
  position: relative;
  opacity: 0;

  transition: all .1s ease;
}

.service-arrow::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: content-box;

  background-color: #898682;
}

.service-slide:hover .service-arrow img {
  opacity: 1;
}

.stocks > .container {
  padding-top: 101px;
}

.stock-slide {
  height: 250px;
}

.stock-slide {
  display: flex;
  background-color: #4b4b4b;
}

.stock-slide-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 30px 0px 22px 25px;

  
}

.stock-slide-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stock-slide-image {
  background-position: right bottom;
  background-repeat: no-repeat;
  /* background-size: 38%; */
  background-color: #f3f4f4;
}

.stock-slide-right {
  color: #fff;
  position: relative;
}

.stock-slide-right::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #ffffff transparent;
  line-height: 0;
  _border-color: #000000 #000000 #ffffff #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.stock-slider {
  margin-top: 38px;
}

.stock-slide-title {
  font-size: 23.86px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.stock-slide-title span {
  color: var(--red-light)
}

.stock-slide-desc {
  font-size: 12px;
}

.stock-slide-info {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: -3px;
}

.button-border {
  border:1px solid #fff;
  background-color: transparent;
  color: #fff;

  background-image: url(../images/button-arrow.svg);
}

.button-border:hover {
  background-color: #fff;
  color: var(--dark);

  background-image: url(../images/button-arrow-bw.svg);
}

.stock-slide-row .button-border {
  margin-bottom: 8px;
  margin-left: 3px;
}

.stock-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  z-index: 2;
}

.stock-nav-item {
  display: flex;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0,0,0, 0);

  transition: all .13s ease;
}

.stock-nav-item:hover {
  box-shadow: 0 0 25px 0 rgba(0,0,0, .1);
}

.stock-prev {
  position: absolute;
  left: -10px;
}

.stock-next {
  position: absolute;
  right: -10px;
}

.stock-slider-wrapper {
  position: relative;
}

.about > .container {
  padding-top: 142px;
}

.row-about {
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 80px;
}

/* .col-about {
  padding-left: 15px;
  padding-right: 15px;
} */

.col-about-left {
  flex: 0 0 29%;
  max-width: 29%;
}

.col-about-center {
  flex: 0 0 44.35%;
  max-width: 44.35%;
}

.about-content {
  padding: 23px 19px;
  font-weight: var(--book);
}

.about-content p {
  margin-bottom: 21px;
}

.about-link {
  color: var(--dark);
  border-bottom: 1px dotted var(--dark)
}

.about-link:hover {
  color: var(--dark);
  text-decoration: none;
}

.col-about-right {
  flex: 0 0 26.65%;
  max-width: 26.65%;
  padding-left: 16px;
}

.about-points {
  background-color: #4b4b4b;
  color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 411px;

  margin-top: -34px;
}

.points-head {
  padding-top: 40px;
  display: flex;
  justify-content: center
}

.points-foot {
  padding: 30px;
}